/* p {
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
} */

/* .title {
   font-size: xx-large; 
   font-weight: bold;
   color:black;
   background-color: antiquewhite;
} */

.hello {
    background:#fff;
}