/* p {
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
} */

/* .title {
   font-size: xx-large; 
   font-weight: bold;
   color:black;
   background-color: antiquewhite;
} */

.hello {
    /* background:#4c1b7f57; */
    /* background-color: aqua; */
    height: 1000px;
    width: auto;
    background-image: url(images/eagle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}